* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}

body {
	background: lightblue;
	color: darkslategrey;
	margin-left: 2rem;
	margin-right: 2rem;
}

header {
	margin-left: 1.6rem;
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h3 {
	color: darkslategray;
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 0.75rem;
}

h4 {
	color: darkslategrey;
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

#taskPriority {
	display: flex
}

#priorityOne {
	margin-left: 1rem;
	margin-bottom: 1.5rem;
	color: darkslategrey;
	font-weight: 700;
	font-size: .8rem;
	border: 0;
}

.toDoDone input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: darkslategray;
	background-color: white;
	border-radius: .5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 1.5rem;
}

.toDoDone #priorityOne {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	padding: 1.5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
	cursor: pointer;
}

.toDoDone button[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem .5rem;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	background-color: goldenrod;
	box-shadow: 0px 0px 4px white;
	border-radius: 1.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
	margin-bottom: 2rem;
}

.toDoDone button[type="submit"]:hover {
	opacity: 0.75;
}

h2 {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 1.5rem;
	padding: 1rem;
	color: darkslategrey;
	font-weight: 600;
	text-transform: uppercase;
	background-color: white;
	margin-bottom: 1rem;
	margin-top: 3rem;
}

li {
	/* display: block; */
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 1.1rem;
	padding: .5rem .5rem;
	color: goldenrod;
	font-weight: 500;
	text-transform: uppercase;
	background-color: white;
	box-shadow: 5px black;
	margin-bottom: .25rem;
}

ul {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
	flex: 1 1 0%;
}

ul li:nth-child(odd) {
	background: lightgoldenrodyellow;
}

ul li:hover {
	background: goldenrod;
	color: white;
}

ul li.checked {
	background: lightseagreen;
	color: white;
	text-decoration: line-through;
}

#recallButtons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

#getLocal, #saveLocal {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem .5rem;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	background-color: goldenrod;
	box-shadow: 0px 0px 4px white;
	border-radius: 1.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}

/* Inspiration for design and CSS structure from Tyler Potts' video (https://youtu.be/6eFwtaZf6zc) */
